{% extends "base.html" %}
    {% block title %}
    LetsGoToursAndTravels
    {% endblock title %} 

{% block content %}
{% load tour_extras %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Welcome to LetsGoToursAndTravels</h1>
                <p><h3>The available tours are:</h3></p>
                <ol>
                    <ul>
                        {% load tour_extras %}
                        {% for tour in tours_avilable %}
                        
                        
                        
                        <li>
                            <ul>
                                <h2>{{tour.name}}</h2>
                    
                                <li>
                                    
                                    {% show_pictures tour%}
                                </li>
                                <li>
                                    {{tour.place}}
                                </li>
                                <li>
                                    price- ₹{{tour.price}}
                                </li>
                                <li>
                                    duration in days: {{tour.duration}}
                                </li>
                                <li>
                                    last updated: {{tour.updated_at}}
                                </li>
                                
                        </ul>
                        </li>
                        {% endfor %}
                        
                </ol>
                <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="/?prev=true&page={{page}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {%if page == 1 %}                 
                    <li class="page-item disabled"><a class="page-link" href="/?page=1">1</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=2">2</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=3">3</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=4">4</a></li>
                    {% elif page == 2 %}
                    <li class="page-item "><a class="page-link" href="/?page=1">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="/?page=2">2</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=3">3</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=4">4</a></li>
                    {% elif page == 3 %}
                    <li class="page-item "><a class="page-link" href="/?page=1">1</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=2">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="/?page=3">3</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=4">4</a></li>
                    {% elif page == 4 %}
                    <li class="page-item "><a class="page-link" href="/?page=1">1</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=2">2</a></li>
                    <li class="page-item "><a class="page-link" href="/?page=3">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="/?page=4">4</a></li>
                    {%endif%}
                    <li class="page-item">
                      <a class="page-link" href="/?next=true&page={{page}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                
                <a href="{% url 'view_picture' %}" class="btn btn-primary">View All Pictures</a>
            </div>
        </div>
    </div>
{% endblock %}