{% extends "base.html" %}
    {% block title %}
    LetsGoToursAndTravels
    {% endblock title %} 

{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        
        {% if form %}
        

            {% comment %} {% crispy form %} {% endcomment %}
            <form method="post">
                {% csrf_token %}
                {%crispy form %}
                {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}


        {% elif data %}
        <h1>Thank you for submitting the form</h1>
        <p>Here is the data we receved:</p>
        <ul>
            <li>Tour name: {{ tour }}</li>
            <li>your name: {{ Name }}</li>
            <li>your phone: {{ phone }}</li>
            <li>your address : {{ address }}</li>
            <li>opt for insurance: {{ insurance }}</li>
        </ul>
        <h1>the detailes of the tour are </h1>
        <ul>
            <li>name: {{ Tour.name }}</li>
            <li>description: {{ Tour.description }}</li>
            <li>place: {{ Tour.place }}</li>
            <li>price: {{ Tour.price }}</li>
            <li>duration: {{ Tour.duration }}</li>
            <li>last updated: {{ Tour.updated_at }}</li>
        </ul>
        <h1>The detailes of the agency is </h1>
        <ul>
            <li>name: {{ Agency.name }}</li>
            <li>address: {{ Agency.address }}</li>
            <li>phone: {{ Agency.representative }}</li>
            <li>email: {{ Agency.contact }}</li>
        {% else %}
        <h1>{{message}}</h1>
        {% endif %}
        </div>

{% endblock %}