{% extends "base.html" %}

{% block title %}
    LetsGoToursAndTravels
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        {% load crispy_forms_tags %}
        {% if form %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
                {% comment %} <button type="submit" class="btn btn-primary mt-3">Submit</button> {% endcomment %}
            </form>
        {% else %}
            <h1>{{ message }}</h1>
        {% endif %}
    </div>
{% endblock content %}
